<div class="produto-details">
  <h2>Detalhes do Produto</h2>
  <p>
  
    <strong>Nome:</strong> 
    <%= produto.nome %><br>

    <strong>Descrição:</strong> 
    <%= produto.descricao %><br>

    <strong>Preço:</strong> 
    <%= produto.preco %><br>

  </p>
</div>

