<div class="produtos">
<p style="color: green"><%= notice %></p>
  
<h1>Produtos</h1>


  <div id="produtos-list">

    <% @produtos.each do |produto| %>
      <%= render produto %>
      <p>
        <%= link_to "Exibir Produto", produto, class: "btn-info" %>
      </p>
    <% end %>
    
  </div>

  <div class="add-link">
    <%= link_to "Adicionar Produto", new_produto_path, class: "btn-success" %>
  </div>

</div>
