<div class="new-produto">

  <%= render "form", produto: @produto %>

  <br>

  <div class="back-link">
    <%= link_to "Voltar para Produtos", produtos_path, class: "btn btn-secondary" %>
  </div>
  
</div>
