body {
   font-family: Arial, sans-serif;
   background-color: #f5f5f5;
   margin: 0;
   padding: 0;
 }
 
 h1, h2 {
   color: #333;
 }
 
 .form-group {
   margin-bottom: 20px;
 }
 
 .form-control {
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
 }
 
 .actions {
   text-align: center;
 }
 
 .btn-show {
   padding: 10px 20px;
   margin: 0 auto;
   background-color: #4CAF50;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
 }
 
 .btn-show:hover {
   background-color: #45a049;
 }
 
 .produto-details {
   width: 70%;
   margin: 0 auto;
   background-color: #f9f9f9;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }
 
 .produto-details h2 {
   text-align: center;
 }
 
 .new-produto {
   max-width: 800px;
   margin: 20px auto;
   padding: 20px;
   background-color: #fff;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }
 
 .new-produto h1 {
   color: #333;
   text-align: center;
 }
 
 .back-link {
   margin-top: 20px;
   text-align: center;
 }
 
 .back-link a {
   display: inline-block;
   padding: 10px 20px;
   background-color: #6a6e6a;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   text-decoration: none;
 }
 
 .back-link a:hover {
   background-color: #6a6e6a;
 }
 
 .produtos {
   max-width: 800px;
   margin: 20px auto;
   padding: 20px;
   background-color: #fff;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }
 
 .produtos h1 {
   color: #333;
   text-align: center;
 }
 
 .notice p {
   color: green;
 }
 
 .add-link {
   margin-top: 20px;
   text-align: center;
 }
 
 .add-link a {
   display: inline-block;
   padding: 10px 20px;
   background-color: #4CAF50;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   text-decoration: none;
 }
 
 .add-link a:hover {
   background-color: #45a049;
 }
 
 .produto-actions {
   margin-top: 20px;
   display: flex;
   justify-content: center;
 }
 
 .produto-actions .btn-show {
   padding: 10px 20px;
   background-color: #4CAF50;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   margin: 0 10px;
 }
 
 .produto-actions .btn-show:hover {
   background-color: #45a049;
 }
 
 .btn-info {
   color: #333;
   text-decoration: none;
 }
 
 .btn-info:hover {
   color: #45a049;
 }
 